<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Filtrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br/>
  <br/>
  <br/>
  <form (ngSubmit)="filtrar()">
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="status" name="status" multiple="false">
        <ion-option [value]="s" *ngFor="let s of opStatus">{{s}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Espécie</ion-label>
      <ion-select [(ngModel)]="especie" name="especie" multiple="false">
        <ion-option [value]="e" *ngFor="let e of opEspecie">{{e}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>UF</ion-label>
      <ion-select [(ngModel)]="uf" name="uf" multiple="false">
        <ion-option [value]="u" *ngFor="let u of opUf">{{u}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select [(ngModel)]="cidade" name="cidade" multiple="false">
        <ion-option [value]="c" *ngFor="let c of opCidade">{{c}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bairro</ion-label>
      <ion-select [(ngModel)]="bairro" name="bairro" multiple="false">
        <ion-option [value]="b" *ngFor="let b of opBairro">{{b}}</ion-option>
      </ion-select>
    </ion-item>
      
    <br/>
    <button ion-button block type="submit">Filtrar</button>
  </form>
</ion-content>

