<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let adot of adotaveis" (click)="detalhar($event, adot)">
      <h1>{{adot.status}}</h1>
      <h2>{{adot.especie}} - {{adot.dataNasc}}</h2>
      <h3>{{adot.uf}} - {{adot.cidade}}</h3>
    </button>
  </ion-list>
</ion-content>
