<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acessar Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <br/>
    <br/>
    <br/>
    <br/>
    <form name="LoginForm" (ngSubmit)="onSubmit(botao)">
    <ion-item>
        <ion-label stacked>Usuário</ion-label>
        <ion-input [(ngModel)]="usuario.login" name="login" type="text"></ion-input>
    </ion-item>
    <br/>
    <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input [(ngModel)]="usuario.senha" name="senha" type="password"></ion-input>
    </ion-item>
    <br/>
    <button name="acessar" color="primary" ion-button block type="submit" (click)="onSubmit('acessar')" >Acessar Conta</button>
    <br/>
    <button name="cadastrar" color="secondary" ion-button block type="submit" (click)="onSubmit('cadastrar')" >Cadastrar Conta</button>
  </form>
</ion-content>
