<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Editar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="salvar()">
    <ion-item-group>
      <ion-item-divider color="light">DADOS</ion-item-divider>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select [(ngModel)]="adotavel.status" name="status" multiple="false">
          <ion-option [value]="s" *ngFor="let s of opStatus">{{s}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Espécie</ion-label>
        <ion-input [(ngModel)]="adotavel.especie" name="especie"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data:</ion-label>
        <ion-datetime [(ngModel)]="adotavel.dataNasc" name="dataNasc" displayFormat="DD/MM/YY" ></ion-datetime>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">LOCAL</ion-item-divider>
      <ion-item>
        <ion-label>UF</ion-label>
        <ion-select [(ngModel)]="adotavel.uf" name="uf" multiple="false">
          <ion-option [value]="u" *ngFor="let u of opUf">{{u}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-input [(ngModel)]="adotavel.cidade" name="cidade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bairro</ion-label>
        <ion-input [(ngModel)]="adotavel.bairro" name="bairro"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">INFORMAÇÕES ADICIONAIS</ion-item-divider>
      <ion-textarea [(ngModel)]="adotavel.informacoes" name="informacoes"></ion-textarea>    
    </ion-item-group>

    <br/>
    <button ion-button block type="submit">Salvar</button>
  </form>
</ion-content>