<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true">
    <ion-slide *ngFor="let foto of fotos">
      <img src="{{url_foto}}{{ foto.nome }}" title="{{ foto.data }}"/>
    </ion-slide>
  </ion-slides>

  <ion-item-group>
    <ion-item-divider color="light">DADOS</ion-item-divider>
    <ion-item>Status: {{ adotavel.status }}</ion-item>
    <ion-item>Espécie: {{ adotavel.especie }}</ion-item>
    <ion-item>Data de Nascimento: {{ adotavel.dataNasc }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">LOCAL</ion-item-divider>
    <ion-item>UF: {{ adotavel.uf }}</ion-item>
    <ion-item>Cidade: {{ adotavel.cidade }}</ion-item>
    <ion-item>Bairro: {{ adotavel.bairro }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">INFORMAÇÕES ADICIONAIS</ion-item-divider>
    <p>{{ adotavel.informacoes }}</p>
  </ion-item-group>
</ion-content>
  